<br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Blocipedia is a resource for sharing information with the world!</p>
   <p>

     <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Share Wikis With the World</h2>
     <p>Blocipedia is your all in one platform to share your knowledge with the internet.</p>
   </div>
   <div class="col-md-4">
     <h2>You can now go premium!</h2>
     <p>Is the free account not enough for your thirst for knowledge? Sign up for a premium account.</p>
   </div>
   <div class="col-md-4">
     <h2>If Two Heads are better than One; how about a million?</h2>
     <p>Collaborate on different topics with an unlimited amount of people all around the globe.</p>
   </div>
 </div>
